.agents
.claude
.idea
.git
.github
.husky
.vscode
build
coverage
dist
docker
node_modules
tests
.editorconfig
.env
.env.*
.git*
.ncurc.mjs
*.md
.DS_Store
*.log
*.sketch
skills-lock.json
vitest.config.ts
zeabur-template.yml
