.inkling-lexical {
  position: relative;
}

/* Suppress hover effects while dragging cards */
[data-inkling='editor'][data-inkling-dragging] [class*='hover:'] {
  pointer-events: none !important;
}

/* everything is nested here to keep it scoped to our container */
.inkling-lexical {
  > * {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: var(--grey-900);
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga' on;
  }

  &.inkling-inherit-styles {
    > * {
      color: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      font-family: inherit;
    }
  }

  [contenteditable] {
    outline: none;
  }

  /* Selection highlight color */
  ::selection {
    background: var(--grey-300);
  }
}

/* Dark mode */
.inkling-lexical > .dark,
.inkling-lexical.dark,
.dark .inkling-lexical {
  &:not(.inkling-inherit-styles) {
    /* background-color: var(--black); */

    > * {
      color: var(--grey-300);
    }
  }

  ::selection {
    background: var(--grey-900);
  }

  em-emoji-picker {
    /* --green */
    --rgb-accent: 48, 207, 67;
    /* --grey-950 */
    --rgb-background: 35, 41, 47;
    /* --grey-300 */
    --rgb-color: 221, 225, 229;
    /* --grey-900 */
    --rgb-input: 57, 64, 71;
  }
}

.inkling-lexical.inkling-lexical-caption {
  font-size: 0;

  > * {
    font-size: 1.4rem;
  }
}

/* Caption in dark mode */
.inkling-lexical-caption p {
  color: var(--grey-800);
}

.dark .inkling-lexical-caption p {
  color: var(--grey-500);
}

em-emoji-picker {
  --font-family:
    Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --border-radius: 5px;
  /* --background-rgb: 85, 170, 255; */
  --font-size: 13px;
  --rgb-accent: 57, 64, 71;
  --rgb-color: 174, 183, 193;
  --em-rgb-accent: (255, 0, 0) /* --rgb-input: 255, 235, 235; */;
  --shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 5px 18px rgba(0, 0, 0, 0.08);

  height: 325px;
}

em-emoji-picker #nav button[aria-selected] svg {
  fill: red;
}

em-emoji-picker .search input[type='search'] {
  border-radius: 5px;
}

.search input,
.search button {
  font-size: 20px !important;
}

/* HTML card */

.inkling-lexical .js-embed-placeholder {
  margin: 0.4rem 0 !important;
  color: var(--grey-700) !important;
}

.inkling-lexical.dark .js-embed-placeholder {
  background: var(--grey-900);
  border: none;
}

/* CTA card */

.inkling-lexical-cta-label a {
  text-decoration: underline;
}

/* Menu */
.inkling-cardmenu-card-hover:hover svg [data-selector='bg'] {
  fill: #fff;
}

.dark .inkling-cardmenu-card-hover svg [data-selector='bg'] {
  fill: var(--grey-900);
}

.dark .inkling-cardmenu-card-hover:hover svg [data-selector='bg'] {
  fill: var(--grey-800);
}

.dark .inkling-cardmenu-card-hover svg [data-selector='fold'] {
  fill: var(--grey-800);
}

.dark .inkling-cardmenu-card-hover:hover svg [data-selector='fold'] {
  fill: var(--grey-700);
}

/* Toolbar */
[data-inkling-floating-toolbar='true'] .fill-white g,
[data-inkling-floating-toolbar='true'] .fill-white path,
[data-inkling-card-toolbar] .fill-white g,
[data-inkling-card-toolbar] .fill-white path {
  fill: #fff;
}

/* tailwind `hidden` class conflicts with inkling styles */
.inkling-cardmenu-card-hover button {
  display: none;
}

/* Footnote reference */
.inkling-lexical .inkling-footnote-ref {
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0;
}

/* Table */
.inkling-lexical table {
  font-size: 1.75rem;
  margin: 0;
  font-family: georgia, Times, serif;
  letter-spacing: 0.02rem;
  line-height: 1.6em;
}

.inkling-lexical table tr td,
.inkling-lexical table tr th {
  vertical-align: top;
  border-bottom: 1px solid var(--grey-200);
}

.inkling-lexical > .dark,
.inkling-lexical.dark,
.dark .inkling-lexical {
  table tr td,
  table tr th {
    border-bottom: 1px solid var(--grey-900);
  }
}
